.center {
  width: 50%;
  height: 50%; 
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;    
  margin: auto;
  text-align: center;
}

.col-sm {
  padding-left: 0px;
  padding-right: 0px;
}

.btn {
  margin: 5px;
}